<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="logo1.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img src="logo.png" alt="logo" class="logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="picked"><a href="#">Online</a></li>
                <li class="unpicked"><a href="scheduling">Programacion</a></li>
                <li class="unpicked"><a href="setting">Configuracion</a></li> 
            </ul>
        </nav>
    </header>
    <div class="content">
        <h2>Partidos actuales</h2>
    </div>


    <div class="imageLaEeb">
        <img src="qatar2022.png" alt="la Eeb" style="
            height: 70px;
            width: auto;
            position: fixed;
            right: 0;
            bottom: 0;
        ">
    </div>
</body>
</html>